---
import { type CollectionEntry, render } from "astro:content";

import FormattedDate from "../../../components/FormattedDate.astro";
import Layout from "../../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Markdown from "../../../layouts/Markdown.astro";
import Navigation from "../../../components/Navigation/Navigation.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  console.log(posts);
  return posts.map((post: any) => ({
    params: { slug: post.data.value.title.replaceAll(" ", "-") },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <Navigation active="blog" />

  <main class="px-4">
    <Markdown>
      <div
        class="flex mt-8 gap-4 text-xs flex-col md:flex-row items-start md:items-center"
      >
        <div class="shrink-0">
          <FormattedDate date={post.data.value.createdAt} />
        </div>
      </div>

      <h1 class="mt-4">{post.data.value.title}</h1>
      <Content />
    </Markdown>
  </main>
</Layout>
