---
import Layout from "../layouts/Layout.astro";
import DesktopNavigation from "../components/Navigation/DektopNavigation.astro";
import { getCollection, render } from "astro:content";
import Markdown from "../layouts/Markdown.astro";

const about = await getCollection("about");
console.log(about);

const { Content } = await render(about[0]);
---

<Layout>
  <DesktopNavigation
    items={["about", "links", "feed", "blog"]}
    active="about"
  />

  <div class="mt-8 mx-4">
    <Markdown>
      <Content />
    </Markdown>
  </div>
</Layout>
