---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Markdown from "../layouts/Markdown.astro";
import Navigation from "../components/Navigation/Navigation.astro";
import About from "../components/About.astro";

const about = await getCollection("about");
---

<Layout>
  <Navigation active="about" />

  <div class="mt-8 mx-4">
    <Markdown>
      {about.length > 0 ? <About /> : "No about page found"}
    </Markdown>
  </div>
</Layout>
