---
import { getCollection } from "astro:content";

const links = await getCollection("links");

console.log(links);
---

<div class="text-white mt-6 px-4 flex flex-col gap-6">
  {
    links[0].data.value.links.map((link: any) => (
      <div>
        <a
          href={link.url}
          target="_blank"
          class="font-medium text-accent-600 dark:text-accent-400"
        >
          {link.title ?? link.url}
        </a>

        <div class="text-base-600 dark:text-base-400 mt-1 text-sm">
          {link.description}
        </div>
      </div>
    ))
  }
</div>
