---
import SocialIcons from "../components/SocialIcons.astro";
import UserProfile from "../components/UserProfile.astro";
import { getCollection } from "astro:content";

const profile = await getCollection("profile");

console.log(profile);

import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="icon"
      href=`data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>😊</text></svg>`
    />

    <script
      is:inline
      defer
      src="https://umami-wispy-dream-8048.fly.dev/script.js"
      data-website-id="e6166872-1b90-4b72-8f63-683b95fc010f"
      data-domains="flo-bit.dev"></script>

    <title>
      {profile[0].data.displayName ?? profile[0].data.handle}
    </title>
  </head>
  <body class="bg-base-50 dark:bg-base-950">
    <div
      class="flex flex-col items-start justify-start h-screen mx-auto max-w-2xl"
    >
      <UserProfile profile={profile[0].data}>
        <SocialIcons />
      </UserProfile>

      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
